.card{
    margin-top: 50px;
    margin-left: 15vh;
    min-width: 50vh;
}

.container{
    display: flex;
  flex-wrap: wrap;
}

.img_redimensionada {
  width: 30vh;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 50%;

}

.but{
  color: white;
  text-decoration: none;
}

.but_cadastro{
  margin-left: 40%;
}

.title_func{
  margin-left: 15vh;
  margin-top: 5vh;
}

.infos{
  border-top: 1px solid rgb(212, 212, 212);
}