.card{
    margin-top: 50px;
    margin-left: 15vh;
    min-width: 50vh;
}

.container{
    display: flex;
  flex-wrap: wrap;
}

.img_redimensionada {
  width: 30vh;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 50%;

}