.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.input_container {
  margin-bottom: 10px;
  width: 50vh;
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
}
.error_message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.teste{
  margin-top: 10px;
}

.erro{
  color: red;
}